<% user_book_id = page.user_book.id %>
<div id="menus">
<ul id="menu">
	<li><a href="<%=root_url%>"><b>Home</b></a></li>
	<li class="current"><a class="sub" href="#"><b>My Books</b><!--[if gte IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li class="currentsub"><a class="fly" href="#url">Current<!--[if gte IE 7]><!--></a><!--<![endif]-->
			<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<li><a href="#url">Edit</a></li>
					<li><a href="#url">Delete</a></li>
				</ul>
			<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
			<li><a href="/user_books">View All<!--[if gte IE 7]><!--></a><!--<![endif]-->
			</li>
			<li><a href="/user_books/new">New<!--[if gte IE 7]><!--></a><!--<![endif]-->
			</li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li><a class="sub" href="#"><b>Pages</b><!--[if gte IE 7]><!--></a><!--<![endif]-->
	<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li><a href="/pages/?book_id=<%=user_book_id%>">View All<!--[if gte IE 7]><!--></a><!--<![endif]-->
			<li class="currentsub"><a class="fly" href="#url">Edit<!--[if gte IE 7]><!--></a><!--<![endif]-->
			<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<% page.user_book.pages.each do |page| %>
					<li><a href="/pages/<%=page.id%>/?book_id=<%=user_book_id%>"><%=file_name page.processed_image%></a></li>
					<% end %>
				</ul>
			<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
		</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
	<li id="support"><a href="support.html"><b>Support</b></a></li>
	<li id="contact"><a href="contact.html"><b>Contact</b></a></li>
</ul>
</div>
