<script>
$(document).ready(function() {
  <% key = Rails.application.config.session_options[:key] %>
  var uploadify_script_data = {};
  var csrf_param = $('meta[name=csrf-param]').attr('content');
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
  uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
	var script = "/pages/replace/<%=@page.id%>/?book_id=<%=@user_book.id%>";
	var cancel_img = "<%= image_path('cancel.png') %>";
	var page_no = 0;

  $('#uploadify').uploadify({
    uploader        : '/uploadify.swf',
    script          : script,
    cancelImg       : cancel_img,
		buttonText      : 'Replace Page',
    auto            : true,
    multi           : false,
    removeCompleted : true,
    scriptData      : uploadify_script_data,
    onComplete      : function(event, ID, fileObj, doc, data) {
			image_processing_complete_timer(doc);
		      }
   });
});

function image_processing_complete_timer(image_src)
{
	var times = 20;
	$(document).everyTime(1000, 'processed', function(i) {
		$.get("/pages/processed/<%=@page.id %>/?book_id=<%=@user_book.id%>", function(data) {
			if (data == 'true')
			{
				$("#processed-image img").attr("src",image_src);
				$(document).stopTime('processed');
			}
		});
	}, times);
	
	return true;		
}

</script>

<%= render :partial => 'pages/menu', :page => @page %>

<div id="page-show">
	<div id="page-info">
		<div id="book-title">
			<%= link_to @user_book.book.title, @user_book %>
		</div>

		<div class="page-info-data">
			Page: <%= @page.page_no %>
		</div>

		<div class="page-info-data">
			Width: <%= @page.user_book.width %>
		</div>

		<div class="page-info-data">
			Height: <%= @page.user_book.height %>
		</div>

		<div class="page-info-data">
			File Name: <%= file_name @page.processed_image %>
		</div>

		<div id="replace-page">
			<input id="uploadify" name="uploadify" type="file" />
		</div>
	</div>

	<div id="page-editor">
		<div id="page-editor-tools-nav">
			Add RMagick Bells and Whistles....
		</div>

		<div id="processed-image">
			<img src="<%=@page.processed_image%>" width="768" height="1024" />
		</div>
	</div>
</div>
