<!DOCTYPE html>
<html>
<head>
  <title>hOCRux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_header">
	<div id="logo"><%= image_tag 'hOCRux_logo.jpg' %></div>
</div>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
